*.MD language-linguist=Markdown
*.md language-linguist=Markdown
*.yaml language-linguist=YAML
*.sh language-linguist=Shell
*.conf linguist-detectable=true
*.sources linguist-detectable=true
*.sieve language-linguist=Sieve
*.conf.default linguist-detectable=true
*.ini linguist-detectable=true
*.cf linguist-detectable=true
*.json language-linguist=JSON
*.php language-linguist=PHP
*.types linguist-detectable=true
*.go language-linguist=GO
Makefile linguist-detectable=true
*.txt linguist-detectable=true
*.development linguist-detectable=true
*.operation linguist-detectable=true
*.production linguist-detectable=true
*.gitignore linguist-detectable=true
*.prettierignore linguist-detectable=true
*.prettierrc linguist-detectable=true
*.js language-linguist=JavaScript
*.mjs language-linguist=JavaScript
*.html language-linguist=HTML
*.ts language-lingguist=TypeScript
*.mk linguist-detectable=true
*.csv language-linguist=CSV
*.pem linguist-detectable=true
*.yml language-linguist=YAML
*.sql language-linguiust=SQL
*.ico language-linguist=Image
*.css language-linguist=CSS
*.ttf linguist-detectable=true
*.png language-linguist=Image
*.keep-if-necessary linguist-detectable=true
*.gitkeep linguist-detectable=true
Dockerfile language-linguist=Dockerfile
